{% extends 'layout.html' %}
<head>{% block title %} Login {% endblock title %}</head>
<body>
    {% block body %}
    <div class="bodylogin">
      <div class="box">
          <form method="POST" action="">
            <h2>{{_('Iniciar Sesión')}}</h2>
            <div class="inputBox">
              <input type="text" required="required" name="usr">
              <span>{{_('Usuario')}}</span>
              <i></i>
            </div>
            <div class="inputBox">
              <input type="password" required="required" name="password">
              <span>{{_('Contraseña')}}</span>
              <i></i>
            </div>
            <input type="submit" value="{{_('Ingresar')}}">
          </form>
      </div>
    </div>
    {% endblock body %}
</body>
