{% extends 'layout.html' %}
{% block title %}{{titulo}}{% endblock title %}{{titulo}}
<body>
    <header>
        {% if session['rol']=='admin' %}
        {% include 'navbar.html' %}
        {% else %}
        {% include 'navbar_vendedor.html' %}
        {% endif %}
    </header>
    {% block body %}
    <div class="fondo_modificar_tra">
        <h1 style="color: beige; text-align: center;">{{_('MODIFICAR CLIENTES')}}</h1>
        <br>
        <br>
        <div class="container">
            <form method="post" action="">
                <table class="table">
                    <tr>
                        <td style="color: white;">{{_('Cedula')}}</td>
                        <td><input type="text" name="nombre" class="form-control" value="{{datos[0][0]}}"></td>
                    </tr>
                    <tr>
                        <td style="color: white;">{{_('Nombre')}}</td>
                        <td><input type="text" name="id" min="0" class="form-control" value="{{datos[0][1]}}"></td>
                    </tr>
                    <tr>
                        <td style="color: white;">{{_('Direccion')}}</td>
                        <td><input type="text" name="apellidos" class="form-control" value="{{datos[0][2]}}"></td>
                    </tr>
        
                    <tr>
                        <td style="color: white;">{{_('Telefono')}}</td>
                        <td><input type="number" name="numero" min="0" class="form-control" value="{{datos[0][3]}}"></td>
                    </tr>
        
                    <tr>
                        <td >
                            <input type="submit" name="submit" value="{{_('Actualizar')}}" class="btn btn-success">
                        </td>
                        <td style="text-align: right;">
                            <a class="btn btn-danger" href="/clientes" role="button">{{_('Atras')}}</a>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
    {% endblock body %}
</body>