<header>
    <nav class="navbar navbar-dark bg-dark">
      <div class="container-fluid">
        <img src="/static/img/logo.png" style="height: 50px; left: 50px;" href="/dashboard-vendedor">
        <a class="navbar-brand" href="/dashboard-vendedor">CONSTRUYE FÁCIL</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/dashboard">{{_(Inicio)}}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/clientes">{{_('Clientes')}}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/facturacion/buscar-cliente">{{_('Facturación')}}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/acerca-de">{{_('Acerca de')}}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/cerrar_sesion">{{_('Salir')}}</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  