{% extends 'layout.html' %}
{% block title %}{{titulo}}{% endblock title %}
<body>
    <header>
        {% if session['rol']=='admin' %}
        {% include 'navbar.html' %}
        {% else %}
        {% include 'navbar_vendedor.html' %}
        {% endif %}

        
    </header>
    {% block body %}
    {% if mensaje == True %}
    <script>alert('Registro guardado exitosamente')</script>
    {% endif %}
    
    <div class="fondo_agregar">
        <h1 style="color: beige; text-align: center;">{{_('AGREGAR PRODUCTOS')}}</h1>
        <br>
        <br>
        <div class="container">
            <form method="POST" action="">
                <table class="table">
                    <tr>
                        <td style="color: white;">{{_('Codigo')}}</td>
                        <td><input type="number" name="id_prod" min="0" class="form-control"></td>
                    </tr>
                    <tr>
                        <td style="color: white;">{{_('Detalles del producto')}}</td>
                        <td><input type="text" name="det_prod" class="form-control"></td>
                    </tr>
                    <tr>
                        <td style="color: white;">{{_('Cantidad')}}</td>
                        <td><input type="text" name="cant_prod" min="0" class="form-control"></td>
                    </tr>
        
                    <tr>
                        <td style="color: white;">{{_('Precio Compra')}}</td>
                        <td><input type="number" name="precio_compra" min="0" class="form-control"></td>
                    </tr>
                    <tr>
                        <td style="color: white;">{{_('Precio Venta')}}</td>
                        <td><input type="number" name="precio_venta" min="0" class="form-control"></td>
                    </tr>
                    <tr>
                        <td >
                            <input type="submit" name="submit" value="{{_('Agregar')}}" class="btn btn-success">
                        </td>
                        <td style="text-align: right;">
                            <a class="btn btn-danger" href="/productos" role="button">{{_('Atras')}}</a>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
    {% endblock body %}
</body>