{% extends 'layout.html' %}
{% block title %} {{titulo}} {% endblock title %}
<body>
    <header>
        {% include 'navbar.html' %}
        
    </header>
    {% block body %}
    <div class="fondo_productos">
        <h1 style="color: white; text-align: center;">{{_('PRODUCTOS')}}</h1>
        <br>
        <div class="row justify-content-center">
            <div class="col-3">
                <div class="card" style="width: 18rem; margin-right: 20px; background-color: rgb(221, 221, 221);">
                    <img class="card-img-top" src="./static/img/A1.png" alt="Card image cap">
                    <div class="card-body" style="text-align: center; font-size: 24px; font-weight: bold;">
                      <a href="/productos/agregar-producto" class="card-link" style="color: black; text-decoration: none;">{{_('AGREGAR')}}</a>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card" style="width: 18rem; margin-right: 20px;background-color: rgb(221, 221, 221);">
                    <img class="card-img-top" src="./static/img/A2.png" alt="Card image cap">
                    <div class="card-body" style="text-align: center; font-size: 24px; font-weight: bold;">
                      <a href="/productos/buscar-producto" class="card-link" style="color: black; text-decoration: none;">{{_('MODIFICAR')}}</a>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card" style="width: 18rem; margin-right: 20px;background-color: rgb(221, 221, 221);">
                    <img class="card-img-top" src="./static/img/A3.PNG" alt="Card image cap">
                    <div class="card-body" style="text-align: center; font-size: 24px; font-weight: bold;">
                      <a href="/productos/listar-productos" class="card-link" style="color: black; text-decoration: none;">{{_('LISTAR')}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock body %}
</body>
{% block footer %}{% endblock %}